<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @translator.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @translator.last_name %>
</p>

<p>
  <strong>Screen name:</strong>
  <%= @translator.screen_name %>
</p>

<p>
  <strong>Profession:</strong>
  <%= @translator.profession %>
</p>

<p>
  <strong>Other qualifications:</strong>
  <%= @translator.other_qualifications %>
</p>

<p>
  <strong>Rate per minute:</strong>
  <%= @translator.rate_per_minute %>
</p>

<p>
  <strong>Email:</strong>
  <%= @translator.email %>
</p>

<p>
  <strong>Salt:</strong>
  <%= @translator.salt %>
</p>

<p>
  <strong>Encrypted password:</strong>
  <%= @translator.encrypted_password %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @translator.phone_number %>
</p>

<p>
  <strong>Cc#:</strong>
  <%= @translator.cc# %>
</p>

<p>
  <strong>Cc expiration:</strong>
  <%= @translator.cc_expiration %>
</p>

<p>
  <strong>Cvv2:</strong>
  <%= @translator.cvv2 %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @translator.zipcode %>
</p>

<p>
  <strong>Overall rating:</strong>
  <%= @translator.overall_rating %>
</p>

<p>
  <strong>Total transactions:</strong>
  <%= @translator.total_transactions %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @translator.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @translator.updated_at %>
</p>

<%= link_to 'Edit', edit_translator_path(@translator) %> |
<%= link_to 'Back', translators_path %>
